:root {
    --main: hsl(42, 50%, 92%);
    --secondary: hsl(0, 100%, 28%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #000;
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    font-size: 18px;
    line-height: 1.5rem;
    background-color: var(--main);
    overflow-x: hidden;
}

/* Commons */
section {
    min-height: 85vh;
    padding: 1rem;
    margin: 0 auto;
    max-width: 80ch;
    display: grid;
    place-items: center;
}

section h1 {
    padding: 1.75rem 0 0.25rem 0;
    color: var(--secondary);
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    max-width: 50ch;
}

.desktop {
    visibility: hidden;
    position: absolute;
}

/* Nav */
header {
    height: 20vh;
    display: flex;
    background-color: #000;
}

header img {
    margin: 0 auto;
    object-fit: contain;
    max-height: 175px;
    padding: 0 0.5rem;
}

nav {
    position: sticky;
    top: 0;
    height: 40px;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    list-style: none;
    font-size: 1.25rem;
    background-color: #000;
    color: var(--main);
    padding: 0.5rem 0;
}

nav a:hover {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

/* Hero */
#hero {
    height: 75vh;
    min-height: 0 !important;
}

#hero div {
    display: grid;
    place-items: center;
    gap: 0.5rem;
    margin: 0 auto;
    height: 100%;
    max-width: 50ch;
    max-height: 600px;
}

#hero .intro:first-letter {
    float: left;
    font-size: 8vh;
    color: #8c8273;
}

#hero p span {
    font-weight: bold;
}

#hero iframe {
    margin-top: 0.75rem;
    width: 100%;
    height: 100%;
}

#hero a {
    margin-top: 1.5rem;
    background-color: var(--secondary);
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    border: 1px solid #000;
}

#hero .desktop {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

/* Histoire */
#histoire div {
    display: grid;
    place-items: center;
    gap: 0.5rem;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 50ch;
}

#histoire .desktop {
    min-height: 50vh;
}

#histoire .desktop .characterDesc h2 {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    text-align: center;
}

#histoire .desktop img {
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 5px;
    z-index: 1;
    transform: translateX(-50%);
    transition: clip-path 0.5s, z-index 0.5s step-end;
}

#histoire .desktop img:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
    z-index: 2;
    transition: clip-path 0.5s, z-index 0.5s step-start;
}

#histoire .desktop #Karadec {
    clip-path: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
}

#histoire .desktop #Baldric {
    clip-path: polygon(50% 50%, 50% 50%, 100% 100%, 0% 100%);
}
#histoire .desktop #Gaucelin {
    clip-path: polygon(50% 50%, 100% 0, 100% 100%, 50% 50%);
}
#histoire .desktop #SirPaulin {
    clip-path: polygon(0 0, 50% 50%, 50% 50%, 0% 100%);
}

#histoire .desktop .characterDesc p {
    position: absolute;
    bottom: -22.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 38ch;
    z-index: 3;
}

/* Gallerie */
#gallerie {
    margin: 0;
    width: 100vw;
    max-width: 1440px;
    display: grid;
    place-items: center;
    gap: 0.75rem;
}

#gallerie h1 {
    margin-bottom: 1rem;
}

.main-carousel {
    height: 70vh;
    width: 100%;
    max-width: 100vw;
}

.flickity-viewport {
    min-height: 100%;
}

.carousel-cell {
    max-width: 50%;
    max-height: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#gallerie .btn {
    background-color: var(--secondary);
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    border: 1px solid #000;
}

/* Supporter */
#supporter {
    gap: 1rem;
}

#supporter a {
    text-decoration: underline;
}

#supporter .supporter-action {
    background-color: var(--secondary);
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    border: 1px solid #000;
    text-align: center;
    text-decoration: none;
}

@media screen and (min-width: 1000px) {
    #hero,
    #histoire {
        display: flex;
        max-width: 1250px;
    }

    .desktop {
        visibility: visible;
        position: relative;
    }

    #supporter h1 {
        transform: translateY(85%);
    }
}
